<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local CSS File -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- font Awsome CDN -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- local jQuery link -->
    <script src="../jquery/jquery.js"></script>
    

    <title>Image Gallery</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if(currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <% } %>
        </ul>
        <ul class="navbar-nav navbar-right">
          
          <% if(!currentUser) { %>
            <li class="nav-item"><a class="nav-link" href="/login">login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <% } else{ %>
            <li class="nav-item"><a class="nav-link" href="/profile"><%= currentUser.username %></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
          <% } %>            
          </ul>
      </div>

    </nav><br>

    <div class="container">
      <% if(success && success.length > 0){%>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if(error && error.length > 0){%>
        <div class="alert alert-danger">
          <%= error %>
        </div>
      <% } %>
    </div>