<% include layouts/header %>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Image Gallery!</h1>
      <p class="lead">This is a simple Image Gallery created Using Node, HTML and CSS</p>
      <hr class="my-4">
      <p>The gallery displays photoes of professional photograpohers and some by me. </p>
      <!-- <p class="subtitle">Hope you like it.</p> -->
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
  
    <div class="form-inline">
      <form class="form-inline" action="" method="POST">
        <input class="form-control-plaintext" type="text" placeholder="name" name="name">
        <input class="form-control-plaintext" type="text" name="message" placeholder="message">
        <input  type="file" name="image">
        <button class="btn btn-success">Post</button>
      </form>

    </div>

    <div class="row" style="display: flex; flex-wrap: wrap;">
      <% images.forEach(function(images){ %>
      <div class="col-md-4 col-sm-6">
        <div class="card" >
          <img src="<%= images.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= images.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>    
      </div>
      <% }); %>
    </div>
  

    
  </div>
  


<% include layouts/footer %>