<% include layouts/header %>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Image Gallery!</h1>
      <p class="lead">This is a simple Image Gallery created Using Node, HTML and CSS</p>
      <hr class="my-4">
      <p>The gallery displays photoes of professional photograpohers and some by me. </p>
      <!-- <p class="subtitle">Hope you like it.</p> -->
      <button id="itemButton" class="btn btn-primary btn-md">Add to Gallery</button>
    </div>
  
    <div class="form">
      <form class="form-inline" action="/newimage" method="POST">
        <input class="form-control-plaintext" type="text" placeholder="name" name="name" required>
        <input class="form-control-plaintext" type="text" name="message" placeholder="message">
        <input  class="form-control-plaintext" type="text" name="image" placeholder="Image link">
        <button class="btn btn-success">Post</button>
      </form>

    </div><br>

    <div class="row" style="display: flex; flex-wrap: wrap;">
      <% images.forEach(function(images){ %>
      <div class="col-md-4 col-sm-6">
        <div class="card" >
          <a href="/show/<%= images._id%>"><img src="<%= images.image %>" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-user-circle"></i> <%= images.name %></h5>
            <p class="card-text"><%= images.message %></p>
          </div>
        </div> <br>   
      </div>
      <% }); %>
    </div>

    
  </div>

  
  


<% include layouts/footer %>