<% include layouts/header %>

<div class="container">
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="btn btn-success">SignUp</button>
    </form>
</div>


<% include layouts/footer %>